.middle-box {
  position: relative;
  top: 20px;
  left: 10px;
}

.parent-container {
  position: relative;
}

.circle {
  position: absolute;
  bottom: 0;
  right: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.stack-container {
  position: relative;
}

.stack-box {
  position: absolute;
}

.green-box {
  z-index: 3;
}

.red-box {
  z-index: 2;
}

.blue-box {
  z-index: 1;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.icon-wrapper {
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
}

.fab-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fab-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 10px;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-box {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-arrow {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-item {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
}

.dropdown-submenu {
  position: absolute;
  top: 0;
  left: calc(100% + 4px);
}

.page-fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
}

.human-wrapper {
  position: relative;
  width: 140px;
  height: 220px;
  display: block;
}

.human-head {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.human-body {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
}

.human-arm {
  position: absolute;
  top: 65px;
  transform-origin: top center;
}

.left-arm {
  left: 18px;
  transform: rotate(25deg);
}

.right-arm {
  right: 18px;
  transform: rotate(-25deg);
}

.human-leg {
  position: absolute;
  top: 135px;
  transform-origin: top center;
}

.left-leg {
  left: 38px;
  transform: rotate(8deg);
}

.right-leg {
  right: 38px;
  transform: rotate(-8deg);
}
